<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2 class="tittle">Password Generator</h2>
    <div class="content">
      <div class="margin">
        <label for="lbLength" class="lable">Length</label>
        <input type="text" #lbLength (input)="onChangeLength($any($event.target).value)"/>
      </div>
      <div class="margin_check">
        <label for="Latter">Use Latter</label>
        <input
          type="checkbox"
          name="chLatter"
          id="chLatter"
          (change)="onChangeLatter()"
          #Latter
        />
      </div>
      <div class="margin_check">
        <label for="Numbers">Use Numbers</label>
        <input
          type="checkbox"
          name="chNumbers"
          id="chNumbers"
          (change)="onChangeNumber()"
          #Numbers
        />
      </div>
      <div class="margin_check">
        <label for="chSymbol">Use Symbols</label>
        <input
          type="checkbox"
          name="chSymbol"
          id="chSymbol"
          (change)="onChangeSymbol()"
          #chSymbol
        />
      </div>
      <Button (click)="onButtonClick()" class="margin">Generate!</Button>
      <div class="margin">
        <label for="GeneratePass" class="lable">Your Password</label>
        <input type="text" [value]="getPassword()" #GeneratePass />
      </div>
    </div>
  </body>
</html>
